img{
    width: 500px;
}

.pincel{
    display: flex;
    max-width: 5rem; 
    height: auto; 
    display: inline;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row-reverse; 
    width: 70rem;
    margin-left: 15rem;
    margin-top: 4rem;
  }
  
  img {
    width: 900px;
    margin-bottom: 5rem;
  }

  h6{
    text-align: center;
  }

  h5{
    justify-content: center;
  }

  .bot{
    margin-top: 10rem;
    background-color: blueviolet;
    border-color: blueviolet;
  }
  